<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <!--#include file="header.html"--> 	
  <head>	  	  
	  <title>index|zombie</title>	  
  </head>
  <body> 
  	
  	<h2>Zombies = 2</h2>
  	<br />
  	<span style="font-weight: bold; color: blue">new edit update: 11</span>
  	
  		<div class="name-list">
  			<span class='label'>Phim</span>
  			<span class='context'>Hight Grand Park</span>  			
  		</div>
  	
  		<div class="name-list">
  			<span class='label'>Zai</span>
  			<span class='context'>Royal Vill</span>  			
  		</div>
  	  	
  </body>
</html>
